<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoursquareAPI</key>
	<dict>
		<key>ClientID</key>
		<string>Y1TCYHHOT5VGGH3USC0RPVSEANDJJUQEUNDVBXGIWS34IGJY</string>
		<key>ClientSecret</key>
		<string>5LXJ3VSI2WVOCPUID3ES5QIJCHYOTLDNYVQXZAKBOR1JKPOS</string>
	</dict>
</dict>
</plist>
